body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    background: linear-gradient(to bottom, #fbfbfb, #d0f0f7);
}

.container {
    display: flex;
    flex: 1;
    margin: 0 5%;
}

.left-column {
    flex: 3;
    margin: 2%;
    margin-right: 3%
}

.right-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

h1 {
    text-align: center;
    color: #2d2b2b;
    font-size: 35px;
}

h3{
    font-size: 20px;
}

.console {
    background: #fffef3;
    padding: 10px;
    border: 10px solid #558cff33;
    border-radius: 15px;
    height: 75vh;
    overflow-y: auto;
    margin-top: 40px;
}

button {
    padding: 8px 12px;
    background-color: #a896ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}

button:hover {
    background-color: #364350;
}

input {
    padding: 8px;
    width: 30vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    background: #f8f2ff;
}
